@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300&family=BioRhyme:wght@200;300&family=Noto+Serif+KR:wght@200;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

ol, ul, li {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: #000;
}

input {
  border: none;
  background: none;
}
input:focus {
  outline: none;
}

*::selection {
  background: orangered;
  color: white;
}

.h {
  opacity: 0;
  position: absolute;
  top: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

fieldset {
  border: none;
}

textarea {
  resize: none;
  outline: 0;
}

#header {
  width: 100%;
  padding: 30px 0;
  position: absolute;
  background-color: #fff;
}
#header .inner {
  width: 1180px;
  margin: 0 auto;
}
#header .inner > h1.logo {
  margin-bottom: 12px;
}
#header .inner > h1.logo a {
  font: 300 32px/1 "biorhyme expanded";
}
#header .inner > h2 {
  font: 200 13px/1 "biorhyme";
  color: #777;
  margin-bottom: 50px;
  letter-spacing: 0px;
}
#header .inner #btnGnb {
  display: none;
}
#header .inner #gnb {
  width: 100%;
  position: relative;
}
#header .inner #gnb ul.personalMenu {
  position: absolute;
  top: -120px;
  right: 0px;
}
#header .inner #gnb ul.personalMenu li {
  float: left;
  margin-left: 20px;
  text-align: right;
}
#header .inner #gnb ul.personalMenu li a {
  font: 300 12px/1 "biorhyme";
  color: #111;
}
#header .inner #gnb ul.personalMenu li a:hover, #header .inner #gnb ul.personalMenu li a:focus {
  color: orangered;
}
#header .inner #gnb .wrap {
  width: 100%;
  height: auto;
  position: relative;
}
#header .inner #gnb .wrap ul.menu::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner #gnb .wrap ul.menu > li {
  float: left;
  margin-right: 50px;
}
#header .inner #gnb .wrap ul.menu > li:last-child {
  margin-right: 0;
}
#header .inner #gnb .wrap ul.menu > li > a {
  font: 200 22px/1 "biorhyme";
  letter-spacing: 0.5px;
}
#header .inner #gnb .wrap ul.menu > li > a:hover, #header .inner #gnb .wrap ul.menu > li > a.on, #header .inner #gnb .wrap ul.menu > li > a:focus {
  color: orangered;
  text-decoration: overline;
  text-decoration-thickness: 1px;
}
#header .inner #gnb .wrap ul.menu > li > ul.menu2dep {
  margin-top: 10px;
  display: none;
}
#header .inner #gnb .wrap ul.menu > li > ul.menu2dep > li {
  margin-bottom: 5px;
}
#header .inner #gnb .wrap ul.menu > li > ul.menu2dep > li > a {
  font: 300 14px/1 "biorhyme";
  color: #777;
}
#header .inner #gnb .wrap ul.menu > li > ul.menu2dep > li > a:hover, #header .inner #gnb .wrap ul.menu > li > ul.menu2dep > li > a:focus {
  color: orangered;
}

.content {
  padding-top: 200px;
  padding-bottom: 300px;
}
.content .sub_visual {
  width: 100%;
  height: 450px;
  background: #222;
  background-repeat: repeat;
  background-size: auto 700px;
  background-position: center;
}
.content .inner {
  width: 1180px;
  margin: 0px auto;
}
.content .inner h1 {
  display: inline-block;
  font: 300 54px/1 "biorhyme expanded";
  color: black;
  border-top: 3px solid black;
  padding-top: 30px;
  margin: 300px 0 150px;
}

#footer {
  width: 100%;
  background-color: #222;
  padding: 50px 0 100px;
}
#footer .upper {
  width: 1180px;
  margin: 0 auto;
}
#footer .upper .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#footer .upper .wrap h1.logo {
  float: left;
}
#footer .upper .wrap h1.logo a {
  font: 200 24px/1 "biorhyme expanded";
  color: #eee;
}
#footer .upper .wrap .wrap {
  width: 50%;
  float: right;
}
#footer .upper .wrap .wrap .address {
  width: calc(100% / 3);
  float: left;
  margin-top: 20px;
}
#footer .upper .wrap .wrap .address:nth-child(1) {
  width: 45%;
}
#footer .upper .wrap .wrap .address:nth-child(2) {
  width: 35%;
}
#footer .upper .wrap .wrap .address:nth-child(3) {
  width: 20%;
}
#footer .upper .wrap .wrap .address h2 {
  font: 300 16px/1 "biorhyme";
  margin-bottom: 10px;
  color: #eee;
}
#footer .upper .wrap .wrap .address p, #footer .upper .wrap .wrap .address a {
  display: block;
  font: 300 13px/1.7 "gothic a1";
  color: #ccc;
}
#footer .upper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #aaa;
  margin: 50px 0;
}
#footer .lower {
  width: 1180px;
  margin: 0 auto;
}
#footer .lower .wrap {
  width: 100%;
}
#footer .lower .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#footer .lower .wrap .copyright {
  float: left;
  font: 400 11px/16px "gothic a1";
  color: #ccc;
}
#footer .lower .wrap .familySite {
  float: right;
}
#footer .lower .wrap .familySite li {
  float: left;
  margin-left: 35px;
}
#footer .lower .wrap .familySite li a {
  font: 300 16px/16px "biorhyme";
  color: #eee;
}

.h {
  position: fixed;
  top: -9999px;
  opacity: 0;
}

@media screen and (max-width: 1179px) {
  #header {
    padding: 20px;
  }
  #header .inner {
    width: 100%;
  }
  #header .inner > h1.logo {
    margin-bottom: 7px;
  }
  #header .inner > h1.logo a {
    font: 300 28px/1 "biorhyme expanded";
  }
  #header .inner > h2 {
    font: 300 11.5px/1 "biorhyme";
    margin-bottom: 50px;
  }
  #header .inner #gnb ul.personalMenu {
    right: 0px;
  }
  #header .inner #gnb ul.personalMenu li {
    margin-left: 15px;
  }
  #header .inner #gnb ul.personalMenu li a {
    font: 300 11.5px/1 "biorhyme";
  }
  #header .inner #gnb .wrap ul.menu > li {
    margin-right: 23px;
  }
  #header .inner #gnb .wrap ul.menu > li > a {
    font: 200 16px/1 "biorhyme";
  }
  #header .inner #gnb .wrap ul.menu > li > ul.menu2dep {
    margin-top: 5px;
  }
  #header .inner #gnb .wrap ul.menu > li > ul.menu2dep > li {
    margin-bottom: 3px;
  }
  #header .inner #gnb .wrap ul.menu > li > ul.menu2dep > li > a {
    font: 300 13px/1 "biorhyme";
    letter-spacing: -0.5px;
  }

  .content {
    padding-top: 162px;
  }
  .content .sub_visual {
    height: 300px;
    background-size: auto 550px;
  }
  .content .inner {
    width: 100%;
    margin: 0px;
    padding: 50px 20px 100px;
  }
  .content .inner h1 {
    font: 300 28px/1 "biorhyme expanded";
    margin-bottom: 50px;
  }

  #footer {
    padding: 50px 20px;
  }
  #footer .upper {
    width: 100%;
  }
  #footer .upper .wrap h1.logo {
    float: none;
    margin-bottom: 30px;
  }
  #footer .upper .wrap h1.logo a {
    font: 200 20px/1 "biorhyme expanded";
  }
  #footer .upper .wrap .wrap {
    width: 100%;
    float: none;
  }
  #footer .upper .wrap .wrap .address {
    margin-top: 0px;
  }
  #footer .upper .wrap .wrap .address h2 {
    font: 300 14px/1 "biorhyme";
    margin-bottom: 8px;
  }
  #footer .upper .wrap .wrap .address p, #footer .upper .wrap .wrap .address a {
    font: 300 11.5px/1.6 "gothic a1";
  }
  #footer .upper::after {
    margin: 50px 0 30px;
  }
  #footer .lower {
    width: 100%;
  }
  #footer .lower .wrap {
    width: 100%;
  }
  #footer .lower .wrap .familySite {
    float: none;
    display: block;
    width: auto;
    margin-bottom: 15px;
  }
  #footer .lower .wrap .familySite::after {
    content: "";
    display: block;
    clear: both;
  }
  #footer .lower .wrap .familySite li {
    float: right;
    margin-left: 20px;
  }
  #footer .lower .wrap .familySite li a {
    font: 300 14px/1 "biorhyme";
    color: #eee;
  }
  #footer .lower .wrap .copyright {
    float: none;
    display: block;
    width: 100%;
    font: 300 10px/1 "gothic a1";
    text-align: right;
  }
}
@media screen and (max-width: 539px) {
  body {
    overflow-x: hidden;
  }

  #header {
    padding: 0;
  }
  #header .inner {
    position: relative;
    padding: 15px;
  }
  #header .inner > h1.logo {
    margin: 0px;
    margin-top: -10px;
  }
  #header .inner > h1.logo a {
    font: 300 20px/1 "biorhyme expanded";
  }
  #header .inner > h2 {
    font: 300 10px/1 "biorhyme";
    margin-bottom: 30px;
  }
  #header .inner #btnGnb {
    display: block;
    width: 15px;
    height: 13px;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 15px;
  }
  #header .inner #btnGnb div {
    width: 15px;
    height: 1px;
    background-color: #000;
    transition: all 0.5s;
    transform-origin: left;
  }
  #header .inner #btnGnb .line1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  #header .inner #btnGnb .line2 {
    position: absolute;
    top: 5px;
    left: 0;
  }
  #header .inner #btnGnb .line3 {
    position: absolute;
    top: 10px;
    left: 0;
  }
  #header .inner #btnGnb.on .line1 {
    transform: rotate(42deg);
  }
  #header .inner #btnGnb.on .line2 {
    transform: translateX(10px);
    opacity: 0;
  }
  #header .inner #btnGnb.on .line3 {
    transform: rotate(-42deg);
  }
  #header .inner #gnb {
    padding: 15px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
  }
  #header .inner #gnb.on {
    top: 0;
    right: 0;
  }
  #header .inner #gnb ul.personalMenu {
    position: absolute;
    top: 60px;
    left: 10px;
  }
  #header .inner #gnb ul.personalMenu li {
    margin-left: 15px;
  }
  #header .inner #gnb ul.personalMenu li a {
    font: 300 12px/1 "biorhyme";
  }
  #header .inner #gnb .wrap ul.menu {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
  }
  #header .inner #gnb .wrap ul.menu > li {
    width: 100%;
    margin-left: 10px;
    float: none;
    text-align: left;
    margin-bottom: 12px;
  }
  #header .inner #gnb .wrap ul.menu > li > a {
    font: 200 18px/1 "biorhyme";
  }
  #header .inner #gnb .wrap ul.menu > li > ul.menu2dep {
    margin-top: 5px;
  }
  #header .inner #gnb .wrap ul.menu > li > ul.menu2dep > li {
    margin-bottom: 3px;
  }
  #header .inner #gnb .wrap ul.menu > li > ul.menu2dep > li > a {
    font: 300 13px/1 "biorhyme";
    letter-spacing: -0.5px;
  }

  .content {
    padding-top: 99px;
  }
  .content .sub_visual {
    height: calc(100vh - 130px);
    background-size: auto 600px;
  }
  .content .inner {
    width: 100%;
    margin: 0;
    padding: 50px 15px 100px;
  }
  .content .inner h1 {
    font: 300 20px/1 "biorhyme expanded";
    margin-bottom: 30px;
  }

  #footer {
    padding: 50px 15px;
  }
  #footer .upper .wrap h1.logo {
    margin-bottom: 30px;
  }
  #footer .upper .wrap h1.logo a {
    font: 200 16px/1 "biorhyme expanded";
  }
  #footer .upper .wrap .wrap {
    width: 100%;
  }
  #footer .upper .wrap .wrap .address {
    width: 100%;
    margin-bottom: 12px;
  }
  #footer .upper .wrap .wrap .address::after {
    content: "";
    display: block;
    clear: both;
  }
  #footer .upper .wrap .wrap .address:nth-child(1) {
    width: 100%;
  }
  #footer .upper .wrap .wrap .address:nth-child(2) {
    width: 100%;
  }
  #footer .upper .wrap .wrap .address:nth-child(2) p {
    float: left;
    margin-right: 15px;
  }
  #footer .upper .wrap .wrap .address:nth-child(3) {
    width: 100%;
    margin-bottom: 0;
  }
  #footer .upper .wrap .wrap .address:nth-child(3) a {
    float: left;
    margin-right: 15px;
  }
  #footer .upper .wrap .wrap .address h2 {
    font: 300 12px/1 "biorhyme";
    margin-bottom: 5px;
  }
  #footer .upper .wrap .wrap .address p, #footer .upper .wrap .wrap .address a {
    font: 300 10px/1.6 "gothic a1";
  }
  #footer .upper::after {
    margin: 30px 0 10px;
  }
  #footer .lower .wrap .familySite {
    margin-bottom: 10px;
  }
  #footer .lower .wrap .familySite li {
    float: left;
    margin-left: 0px;
    margin-right: 15px;
  }
  #footer .lower .wrap .familySite li a {
    font: 300 12px/1 "biorhyme";
    color: #eee;
  }
  #footer .lower .wrap .copyright {
    font: 300 9px/1 "gothic a1";
    text-align: left;
    color: #777;
  }
}
.about {
  overflow: hidden;
}
.about .sub_visual {
  background-image: url(../img/pattern-13-2400.jpg);
  background-size: 1300px;
}
.about .wrap {
  width: 100%;
  position: relative;
}
.about .wrap::after {
  display: block;
  content: "";
  clear: both;
}
.about .wrap .bg1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 350px;
  background-image: url(../img/pattern-11-2400.jpg);
  background-size: 1200px;
  background-position: center;
  border-radius: 50%;
}
.about .wrap .bg2 {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px solid gold;
  background-size: 1200px;
  background-position: center;
  transition: all 0.8s;
}
.about .wrap .bg2:hover {
  background-color: gold;
  top: 0px;
  left: 0px;
}
.about .wrap .bg3 {
  position: absolute;
  top: 600px;
  right: -600px;
  width: 500px;
  height: 500px;
  background-color: gold;
  background-size: 1600px;
  background-position: center;
  border-radius: 50%;
  transition: all 1.5s;
  transform-origin: center;
}
.about .wrap .bg3:hover {
  transform: scale(1000%);
}
.about .wrap article {
  width: 66.66%;
  margin-bottom: 300px;
  position: relative;
  z-index: 1;
}
.about .wrap article:nth-of-type(odd) {
  float: right;
}
.about .wrap article:nth-of-type(even) {
  float: left;
}
.about .wrap article h2 {
  font: 300 44px/1.3 "biorhyme";
  margin-bottom: 20px;
}
.about .wrap article p {
  font: 300 15px/1.6 "biorhyme";
  margin-bottom: 15px;
}
.about .wrap .important {
  color: orangered;
  font-weight: 400;
}
.about .organization {
  width: 100%;
}
.about .organization > article {
  width: 100%;
  position: relative;
  margin-bottom: 200px;
}
.about .organization > article::after {
  display: block;
  content: "";
  clear: both;
}
.about .organization > article:nth-of-type(even) .img {
  float: right;
}
.about .organization > article:nth-of-type(even) .txt {
  transform: translate(100px, 50px);
}
.about .organization > article:nth-of-type(even) .txt:hover {
  transform: translate(0px, 50px);
}
.about .organization > article *::selection {
  color: black;
  background-color: white;
}
.about .organization > article .img {
  width: 50%;
  height: calc(1180px / 2);
  background-size: 250%;
  background-position: center;
  float: left;
}
.about .organization > article .hava {
  background-image: url(../img/pattern-12-2400.jpg);
  background-size: 400%;
}
.about .organization > article .chris {
  background-image: url(../img/pattern-8-2400.jpg);
}
.about .organization > article .felix {
  background-image: url(../img/pattern-9-2400.jpg);
}
.about .organization > article .txt {
  width: 50%;
  float: left;
  padding: 50px;
  transform: translate(-100px, 50px);
  background-color: orangered;
  transition: all 1s;
}
.about .organization > article .txt:hover {
  transform: translate(0px, 50px);
  background: none;
}
.about .organization > article .txt:hover h2, .about .organization > article .txt:hover h3, .about .organization > article .txt:hover p {
  color: orangered;
}
.about .organization > article .txt h2, .about .organization > article .txt h3, .about .organization > article .txt p {
  color: white;
}
.about .organization > article .txt h2 {
  font: 300 60px/1.2 "biorhyme expanded";
  margin-bottom: 12px;
}
.about .organization > article .txt h3 {
  font: 300 17px/1 "biorhyme";
  margin-bottom: 80px;
  letter-spacing: 0.5px;
}
.about .organization > article .txt p {
  width: 100%;
  font: 300 15px/1.6 "biorhyme";
}
.about .organization > .wrap {
  width: 100%;
}
.about .organization > .wrap .dep3 {
  width: calc((1180px - 50px) / 2);
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}
.about .organization > .wrap .dep3:nth-of-type(2n) {
  margin-right: 0px;
}
.about .organization > .wrap .dep3:nth-child(1) .img, .about .organization > .wrap .dep3:nth-child(5) .img {
  background-image: url(../img/pattern-7-2400.jpg);
}
.about .organization > .wrap .dep3:nth-child(2) .img, .about .organization > .wrap .dep3:nth-child(3) .img, .about .organization > .wrap .dep3:nth-child(6) .img {
  background-image: url(../img/pattern-13-2400.jpg);
}
.about .organization > .wrap .dep3:nth-child(4) .img {
  background-image: url(../img/pattern-5-2400.jpg);
}
.about .organization > .wrap .dep3 .img {
  width: 100%;
  height: 300px;
  background-color: gold;
  background-size: 300%;
  margin-bottom: 30px;
}
.about .organization > .wrap .dep3 .txt {
  width: 66.66%;
  transform: translate(150px, -200px);
  background-color: orangered;
  padding: 15px 30px 15px;
  transition: all 1s;
}
.about .organization > .wrap .dep3 .txt:hover {
  transform: translate(150px, -20px);
  background: none;
}
.about .organization > .wrap .dep3 .txt:hover h2, .about .organization > .wrap .dep3 .txt:hover h3, .about .organization > .wrap .dep3 .txt:hover p {
  color: orangered;
}
.about .organization > .wrap .dep3 .txt h2, .about .organization > .wrap .dep3 .txt h3, .about .organization > .wrap .dep3 .txt p {
  color: white;
}
.about .organization > .wrap .dep3 .txt h2 {
  font: 300 44px/1.2 "biorhyme expanded";
  margin-bottom: 20px;
}
.about .organization > .wrap .dep3 .txt h3 {
  font: 300 15px/1 "biorhyme";
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}
.about .organization > .wrap .dep3 .txt p {
  width: 100%;
  font: 300 13px/1.5 "biorhyme";
}

.members .sub_visual {
  background-image: url(../img/pattern-10-2400.jpg);
}
.members h2 {
  font: 300 44px/1 "biorhyme";
  margin-bottom: 100px;
}
.members .important {
  color: orangered;
  margin-left: 5px;
}
.members .optional {
  color: #aaa;
  margin-left: 5px;
}
.members .wrap {
  margin-bottom: 50px;
}
.members .wrap:last-of-type {
  margin-bottom: 150px;
}
.members #terms {
  width: 100%;
  height: 180px;
  padding: 15px 20px;
  font: normal 13px/1.4 "arial";
  color: #333;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
.members label[for=agree], .members [for=agree2], .members [for=agree3] {
  font: 400 14px/1.8 "noto sans kr";
}
.members input[type=checkbox] {
  margin-right: 8px;
}
.members input[type=text], .members [type=password], .members [type=tel] {
  border-bottom: 1px solid orangered;
  font: 400 14px/1 "noto sans kr";
  height: 35px;
  width: 50%;
  padding: 0 10px;
  transition: border 0.5s;
  margin-right: 10px;
}
.members input[type=text]::placeholder, .members [type=password]::placeholder, .members [type=tel]::placeholder {
  color: #000;
  font-weight: 200;
}
.members input#year {
  width: 25%;
}
.members select {
  width: 25%;
  height: 35px;
  padding: 0 10px;
  border: none;
  border: 1px solid orangered;
}
.members select#month, .members select#day, .members select#address {
  margin-left: 15px;
}
.members select#telecom {
  margin-right: 15px;
}
.members table {
  width: 66.66%;
}
.members table tr {
  height: 70px;
}
.members table th {
  width: 33.33%;
  text-align: left;
  font: 500 14px/1 "noto sans kr";
}
.members table td {
  text-align: left;
  font: 400 14px/1 "noto sans kr";
}
.members table td a {
  font: 400 14px/1 "noto sans kr";
  color: orangered;
}

.community .sub_visual {
  background-image: url(../img/pattern-2-2400.jpg);
}
.community .inner::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .search {
  float: right;
  margin-bottom: 50px;
}
.community .inner .search input {
  display: block;
  float: left;
  height: 30px;
  margin-left: 15px;
}
.community .inner .search input[type=text] {
  width: 180px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font: 300 13px/30px "noto sans kr";
  transition: border 0.5s;
}
.community .inner .search input[type=text]:focus {
  border-color: orangered;
}
.community .inner .search input[type=submit] {
  font: 300 14px/30px "biorhyme";
}
.community .inner .search input[type=submit]:hover, .community .inner .search input[type=submit]:focus {
  color: orangered;
}
.community .inner table {
  width: 100%;
  margin-bottom: 50px;
}
.community .inner table .num {
  width: 10%;
}
.community .inner table .title {
  width: 70%;
}
.community .inner table .writer {
  width: 10%;
}
.community .inner table .date {
  width: 10%;
}
.community .inner table th {
  height: 50px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font: 500 14px/1 "noto sans kr";
}
.community .inner table td {
  border-bottom: 1px solid #ccc;
  height: 50px;
  text-align: center;
  font: 400 14px/1 "noto sans kr";
}
.community .inner table tr td:nth-child(2) {
  text-align: left;
}
.community .inner table tr td:nth-child(2) a:hover {
  color: orangered;
}
.community .inner .pagination {
  width: 100%;
  text-align: center;
}
.community .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagination a {
  font: 300 14px/1 "biorhyme";
  margin: 0 5px;
  color: #333;
}
.community .inner .pagination a:hover {
  font-weight: 600;
  color: #ff4500;
  text-decoration: overline;
}
.community .inner .pagination .numbers {
  display: inline-block;
  margin: 0 20px;
}
.community .inner .pagination .numbers .on {
  font-weight: bold;
  color: #ff4500;
}

@media screen and (max-width: 1179px) {
  .community .inner .search input {
    display: block;
    float: left;
    height: 30px;
    margin-left: 15px;
  }
  .community .inner .search input[type=text] {
    width: 85%;
    padding: 10px;
    font: 300 13px/30px "noto sans kr";
    transition: all 0.5s;
  }
  .community .inner .search input[type=submit] {
    display: block;
    width: 15%;
    font: 300 14px/30px "biorhyme";
  }
  .community .inner table .num {
    width: 10%;
  }
  .community .inner table .title {
    width: 90%;
  }
  .community .inner table .writer {
    width: 0%;
    display: none;
  }
  .community .inner table .date {
    width: 0%;
  }
  .community .inner table tr td {
    padding: 14px 0;
    font: 400 13px/1.6 "noto sans kr";
  }
  .community .inner table th:nth-child(4) {
    display: none;
  }
  .community .inner table td {
    font: 300 50px/1.3 "noto sans kr";
  }
  .community .inner table td:nth-child(3) {
    display: none;
  }
  .community .inner table td:nth-child(4) {
    display: none;
  }
  .community .inner .pagination {
    width: 100%;
    text-align: center;
  }
  .community .inner .pagination::after {
    content: "";
    display: block;
    clear: both;
  }
  .community .inner .pagination a {
    font: 300 14px/1 "biorhyme";
    margin: 0 5px;
    color: #333;
  }
  .community .inner .pagination a:hover {
    font-weight: 600;
    color: #ff4500;
    text-decoration: overline;
  }
  .community .inner .pagination .numbers {
    display: inline-block;
    margin: 0 20px;
  }
  .community .inner .pagination .numbers .on {
    font-weight: bold;
    color: #ff4500;
  }
}
@media screen and (max-width: 539px) {
  .community .inner .search {
    width: 100%;
  }
  .community .inner .search input {
    height: 30px;
    margin-left: 15px;
  }
  .community .inner .search input[type=text] {
    margin-left: 0;
    width: calc(100% - 60px);
    padding: 10px;
    font: 300 12px/30px "noto sans kr";
    transition: all 0.5s;
  }
  .community .inner .search input[type=submit] {
    font: 300 12px/30px "biorhyme";
  }
  .community .inner table .num {
    width: 10%;
  }
  .community .inner table .title {
    width: 70%;
  }
  .community .inner table .writer {
    width: 0%;
    display: none;
  }
  .community .inner table .date {
    width: 20%;
  }
  .community .inner table th {
    height: auto;
    padding: 15px 0;
    font: 500 13px/1 "noto sans kr";
  }
  .community .inner table td {
    height: auto;
    font: 300 13px/1.3 "noto sans kr";
    padding: 10px 0;
  }
  .community .inner table td:nth-child(3) {
    display: none;
  }
  .community .inner .pagination {
    width: 100%;
    text-align: center;
  }
  .community .inner .pagination::after {
    content: "";
    display: block;
    clear: both;
  }
  .community .inner .pagination a {
    font: 300 14px/1 "biorhyme";
    margin: 0 5px;
    color: #333;
  }
  .community .inner .pagination a:hover {
    font-weight: 600;
    color: #ff4500;
    text-decoration: overline;
  }
  .community .inner .pagination .numbers {
    display: inline-block;
    margin: 0 20px;
  }
  .community .inner .pagination .numbers .on {
    font-weight: bold;
    color: #ff4500;
  }
}
.video .sub_visual {
  background-image: url(../img/pattern-5-2400.jpg);
  background-size: 1400px;
}
.video .inner h1 {
  margin-bottom: 130px;
}
.video .inner article {
  width: 100%;
  padding: 50px 0;
  margin-bottom: 200px;
  border-top: 0px solid orangered;
}
.video .inner article::after {
  content: "";
  display: block;
  clear: both;
}
.video .inner article .pic {
  display: block;
  width: 100%;
  height: calc(1180px / 16 * 7);
  background-size: 78%;
  background-position: center;
  margin-bottom: 50px;
  border-radius: 0px;
  transition: 1s;
}
.video .inner article .pic:hover {
  background-size: 85%;
}
.video .inner article > .con {
  width: 66.66%;
  float: right;
}
.video .inner article > .con > h2 {
  font: 300 44px/1.3 "biorhyme";
  margin-bottom: 20px;
}
.video .inner article > .con > p {
  font: 300 15px/1.6 "biorhyme";
  margin-bottom: 15px;
}
.video .inner article > .con > span {
  font: 200 15px/1 "biorhyme";
  color: #777;
}

.pop {
  padding: 100px;
}
.pop .close {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 30px;
  right: 30px;
}
.pop .close div {
  width: 30px;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s;
  transform-origin: left;
}
.pop .close .line1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}
.pop .close .line2 {
  position: absolute;
  bottom: 0px;
  left: 0;
  transform: rotate(-45deg);
}

@media screen and (max-width: 1179px) {
  .video .sub_visual {
    background-size: 1200px;
  }
  .video .inner {
    padding: 50px 0px 100px 0px;
  }
  .video .inner h1 {
    margin-bottom: 50px;
    padding: 0 20px;
  }
  .video .inner article {
    padding: 30px 0;
    margin-bottom: 150px;
    border-top: 0px solid orangered;
  }
  .video .inner article .pic {
    display: block;
    height: calc(100vw / 16 * 7);
    background-size: 78%;
    margin-bottom: 50px;
  }
  .video .inner article > .con {
    width: 75%;
    float: right;
    padding-right: 20px;
  }
  .video .inner article > .con > h2 {
    font: 300 32px/1.3 "biorhyme";
    margin-bottom: 20px;
  }
  .video .inner article > .con > p {
    font: 300 15px/1.6 "biorhyme";
    margin-bottom: 15px;
  }
  .video .inner article > .con > span {
    font: 200 15px/1 "biorhyme";
    color: #777;
  }

  .pop .close {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 30px;
    right: 30px;
  }
  .pop .close div {
    width: 30px;
    height: 1px;
    background-color: #fff;
    transition: all 0.5s;
    transform-origin: left;
  }
  .pop .close .line1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
  }
  .pop .close .line2 {
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 539px) {
  .video .sub_visual {
    background-size: auto 550px;
  }
  .video .inner {
    padding: 50px 0px 100px 0px;
  }
  .video .inner h1 {
    margin-bottom: 50px;
    padding: 0 20px;
  }
  .video .inner article {
    padding: 30px 0;
    margin-bottom: 100px;
    border-top: 0px solid orangered;
  }
  .video .inner article .pic {
    margin-bottom: 30px;
  }
  .video .inner article > .con {
    width: 100%;
    float: left;
    padding: 0 20px;
  }
  .video .inner article > .con > h2 {
    font: 300 24px/1.3 "biorhyme";
    margin-bottom: 10px;
  }
  .video .inner article > .con > p {
    font: 300 12px/1.5 "biorhyme";
    margin-bottom: 12px;
  }
  .video .inner article > .con > span {
    font: 200 12px/1 "biorhyme";
    color: #777;
  }

  .pop {
    padding: 100px 0;
    z-index: 1;
  }
  .pop .close {
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
  }
  .pop .close div {
    width: 24px;
    height: 1px;
  }
}
.gallery .sub_visual {
  background-image: url(../img/pattern-4-2400.jpg);
}

.map .sub_visual {
  background-image: url(../img/pattern-6-2400.jpg);
  background-size: 1280px;
}
.map #map {
  width: 100%;
  height: 500px;
  margin-bottom: 80px;
}
.map .inner .contacts .wrap {
  text-align: center;
}
.map .inner .contacts .wrap::after {
  display: block;
  content: "";
  clear: both;
}
.map .inner .contacts .wrap article {
  width: 25%;
  float: left;
}
.map .inner .contacts .wrap article span {
  display: block;
  font-size: 44px;
  color: orangered;
  margin-bottom: 30px;
}
.map .inner .contacts .wrap article .txt > h2 {
  font: 400 24px/1 "biorhyme";
  margin-bottom: 12px;
}
.map .inner .contacts .wrap article .txt > p {
  font: 300 16px/1.6 "biorhyme";
}
.map .inner .branch {
  width: 100%;
}
.map .inner .branch::after {
  display: block;
  content: "";
  clear: both;
}
.map .inner .branch article {
  width: 33.33%;
  float: left;
}
.map .inner .branch article img {
  display: block;
  width: 44px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.map .inner .branch article .wrap {
  text-align: center;
}
.map .inner .branch article .wrap h2 {
  font: 400 28px/44px "biorhyme";
  margin-bottom: 20px;
}
.map .inner .branch article .wrap h2 a:hover {
  color: orangered;
  text-decoration: overline;
}
.map .inner .branch article .wrap p {
  font: 300 15px/1.6 "biorhyme";
}
.map .inner .branch article .wrap address {
  font: 400 15px/1 "biorhyme";
  margin-bottom: 15px;
}
.map .inner .directions article {
  width: 100%;
  margin-bottom: 80px;
}
.map .inner .directions article:last-of-type {
  margin-bottom: 0px;
}
.map .inner .directions article::after {
  display: block;
  content: "";
  clear: both;
}
.map .inner .directions article span {
  display: none;
  float: left;
  width: 33.33%;
  font-size: 44px;
  padding-right: 30px;
  color: orangered;
}
.map .inner .directions article span svg {
  float: right;
  transform: translateY(10px);
}
.map .inner .directions article .txt {
  float: right;
  width: 66.66%;
}
.map .inner .directions article .txt > h2 {
  font: 300 44px/1.3 "biorhyme";
  margin-bottom: 20px;
}
.map .inner .directions article .txt > p {
  font: 300 15px/1.6 "biorhyme";
}

.main .sub_visual {
  background-image: url(../img/pattern-4-2400.jpg);
}
.main .inner::after {
  content: "";
  display: block;
  clear: both;
}
.main .inner .search {
  float: right;
  padding: 30px 0;
}
.main .inner .search input {
  display: block;
  float: left;
  height: 30px;
  margin-left: 15px;
}
.main .inner .search input[type=text] {
  width: 180px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font: 300 13px/30px "noto sans kr";
  transition: all 0.5s;
}
.main .inner .search input[type=text]:focus {
  border-color: orangered;
}
.main .inner .search input[type=submit] {
  font: 300 14px/30px "biorhyme";
}
.main .inner .search input[type=submit]:hover, .main .inner .search input[type=submit]:focus {
  color: orangered;
}
.main .inner table {
  width: 100%;
  margin-bottom: 50px;
}
.main .inner table .num {
  width: 10%;
}
.main .inner table .title {
  width: 70%;
}
.main .inner table .writer {
  width: 10%;
}
.main .inner table .date {
  width: 10%;
}
.main .inner table th {
  height: 40px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font: 500 14px/1 "noto sans kr";
}
.main .inner table td {
  border-bottom: 1px solid #ccc;
  height: 35px;
  text-align: center;
  font: 300 14px/1 "noto sans kr";
}
.main .inner table tr td:nth-child(2) {
  text-align: left;
}
.main .inner table tr td:nth-child(2) a:hover {
  color: orangered;
}
.main .inner .pagination {
  width: 100%;
  text-align: center;
}
.main .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.main .inner .pagination a {
  font: 300 14px/1 "biorhyme";
  margin: 0 5px;
  color: #333;
}
.main .inner .pagination a:hover {
  font-weight: 600;
  color: #ff4500;
  text-decoration: overline;
}
.main .inner .pagination .numbers {
  display: inline-block;
  margin: 0 20px;
}
.main .inner .pagination .numbers .on {
  font-weight: bold;
  color: #ff4500;
}

@media screen and (max-width: 1179px) {
  .community .inner .search input {
    display: block;
    float: left;
    height: 30px;
    margin-left: 15px;
  }
  .community .inner .search input[type=text] {
    width: 180px;
    padding: 10px;
    font: 300 13px/30px "noto sans kr";
    transition: all 0.5s;
  }
  .community .inner .search input[type=submit] {
    font: 300 14px/30px "biorhyme";
  }
  .community .inner table .num {
    width: 10%;
  }
  .community .inner table .title {
    width: 70%;
  }
  .community .inner table .writer {
    width: 0%;
    display: none;
  }
  .community .inner table .date {
    width: 20%;
  }
  .community .inner table th {
    height: auto;
    padding: 15px 0;
    font: 500 13px/1 "noto sans kr";
  }
  .community .inner table td {
    height: auto;
    font: 300 13px/1.3 "noto sans kr";
    padding: 10px 0;
  }
  .community .inner table td:nth-child(3) {
    display: none;
  }
  .community .inner .pagination {
    width: 100%;
    text-align: center;
  }
  .community .inner .pagination::after {
    content: "";
    display: block;
    clear: both;
  }
  .community .inner .pagination a {
    font: 300 14px/1 "biorhyme";
    margin: 0 5px;
    color: #333;
  }
  .community .inner .pagination a:hover {
    font-weight: 600;
    color: #ff4500;
    text-decoration: overline;
  }
  .community .inner .pagination .numbers {
    display: inline-block;
    margin: 0 20px;
  }
  .community .inner .pagination .numbers .on {
    font-weight: bold;
    color: #ff4500;
  }
}
@media screen and (max-width: 539px) {
  .community .inner .search {
    width: 100%;
  }
  .community .inner .search input {
    height: 30px;
    margin-left: 15px;
  }
  .community .inner .search input[type=text] {
    margin-left: 0;
    width: calc(100% - 60px);
    padding: 10px;
    font: 300 12px/30px "noto sans kr";
    transition: all 0.5s;
  }
  .community .inner .search input[type=submit] {
    font: 300 12px/30px "biorhyme";
  }
  .community .inner table .num {
    width: 10%;
  }
  .community .inner table .title {
    width: 70%;
  }
  .community .inner table .writer {
    width: 0%;
    display: none;
  }
  .community .inner table .date {
    width: 20%;
  }
  .community .inner table th {
    height: auto;
    padding: 15px 0;
    font: 500 13px/1 "noto sans kr";
  }
  .community .inner table td {
    height: auto;
    font: 300 13px/1.3 "noto sans kr";
    padding: 10px 0;
  }
  .community .inner table td:nth-child(3) {
    display: none;
  }
  .community .inner .pagination {
    width: 100%;
    text-align: center;
  }
  .community .inner .pagination::after {
    content: "";
    display: block;
    clear: both;
  }
  .community .inner .pagination a {
    font: 300 14px/1 "biorhyme";
    margin: 0 5px;
    color: #333;
  }
  .community .inner .pagination a:hover {
    font-weight: 600;
    color: #ff4500;
    text-decoration: overline;
  }
  .community .inner .pagination .numbers {
    display: inline-block;
    margin: 0 20px;
  }
  .community .inner .pagination .numbers .on {
    font-weight: bold;
    color: #ff4500;
  }
}

/*# sourceMappingURL=style.css.map */
