@charset 'utf-8';

.gallery {

    .sub_visual {
        background-image: url(../img/pattern-4-2400.jpg);
    }

    .inner {

        #gallery {

            ul {
                width: 100%;
                @include floatClear;

                li {
                    height: calc(1180px / 16 * 7);
                    padding: 10px;
                    float: left;

                    &:nth-child(1) { width: (100% / 3) * 2;}
                    &:nth-child(2) { width: (100% / 3) * 1;}
                    &:nth-child(3) { width: (100% / 3) * 1;}
                    &:nth-child(4) { width: (100% / 3) * 1;}
                    &:nth-child(5) { width: (100% / 3) * 1;}
                    &:nth-child(6) { width: (100% / 3) * 3;}
                    &:nth-child(7) { width: (100% / 3) * 1;}
                    &:nth-child(8) { width: (100% / 3) * 2;}
                    &:nth-child(9) { width: (100% / 3) * 2;}
                    &:nth-child(10) { width: (100% / 3) * 1;}

                    .inner {
                        width: 100%; height: 100%;
                        position: relative;
                        background-color: orangered;
                        overflow: hidden;

                        a {
                            display: block;
                            width: 100%; height: 100%;
                            position: absolute;
                            top: 0; left: 0;
                            transition: all 0.5s;

                            &:hover {
                                img {
                                    opacity: 0.2;
                                    transform: scale(110%);
                                };
                                h2 {
                                    font-size: 44px;
                                }
                            }

                            img {
                                width: 100%; height: 100%;
                                object-fit: cover;
                                transition: all 0.5s;
                            }
                            
                            h2 {
                                font: 300 28px/1.3 'biorhyme';
                                color: #fff;
                                position: absolute;
                                left: 50%; top: 50%;
                                transform: translate(-50%,-50%);
                                text-align: center;
                                transition: all 0.7s;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pop {
    display: none;
    padding: 100px;
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(255, 255, 255, 0.9);

    img {
        width: 100%; height: 100%;
        object-fit: fill;
    }

    .close {
        position: absolute;
        width: 22px; height: 22px;
        top: 30px; right: 30px;

        div {
            width: 30px; height: 1px;
            background-color: orangered;
            transition: all 0.5s;
            transform-origin: left;
        }

        .line1 {
            position: absolute;
            top: 0; left: 0;
            transform: rotate(45deg);
        }
        .line2 {
            position: absolute;
            bottom: 0px; left: 0;
            transform: rotate(-45deg);
        }
    }
}