@charset 'utf-8';

.map {

    .sub_visual {
        background-image: url(../img/pattern-6-2400.jpg);
        background-size: 1280px;
    }

    #map {
        width: 100%;
        height: 720px;
    }
    
}