@charset 'utf-8';

.map {

    .sub_visual {
        background-image: url(../img/pattern-6-2400.jpg);
        background-size: 1280px;
    }

    .inner {
        overflow: visible;

        >.wrap {
            position: relative;
            height: calc(500px - 80px);

            #map {
                width: 100vw;
                height: 500px;
                margin-top: -80px;
                position: absolute;
                top: 0px; left: 50%;
                transform: translate(-50%);
            }
        }

        .branch {
            width: 100%;
            margin-top: 80px;

            &::after { display: block; content: ''; clear: both; }

            article {
                width: 33.33%;
                float: left;

                img {
                    display: block;
                    width: 44px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }

                .wrap {
                    text-align: center;

                    h2 {
                        font: 400 28px/44px 'biorhyme';
                        margin-bottom: 20px;
    
                        a:hover {
                            color: orangered;
                            text-decoration: overline;
                        }
                    }
    
                    p {
                        font: 300 15px/1.6 'biorhyme';
                    }
    
                    address {
                        font: 400 15px/1 'biorhyme';
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .contacts {

            .wrap {
                &::after {display: block; content: ''; clear: both;}
                text-align: center;

                article {
                    width: 25%;
                    float: left;

                    span {
                        display: block;
                        font-size: 44px;
                        color: orangered;
                        margin-bottom: 30px;
                    }

                    .txt {

                        >h2 {
                            font: 400 24px/1 'biorhyme';
                            margin-bottom: 12px;
                        }
        
                        >p {
                            font: 300 16px/1.6 'biorhyme';
                        }
                    }
                }
            }
        }


        .directions {

            article {
                width: 100%;
                margin-bottom: 80px;
                &:last-of-type {margin-bottom: 0px;}
                &::after {display: block; content: ''; clear: both;}

                span {
                    display: none;
                    float: left;
                    width: 33.33%;
                    font-size: 44px;
                    padding-right: 30px;
                    color: orangered;

                    svg {
                        float: right;
                        transform: translateY(10px);
                    }
                }

                .txt {
                    float: right;
                    width: 66.66%;

                    >h2 {
                        font: 300 44px/1.3 'biorhyme';
                        margin-bottom: 20px;
                    }
    
                    >p {
                        font: 300 15px/1.6 'biorhyme';
                    }
                }
            }
        }
    }
}