@charset 'utf-8';

.members {


    .sub_visual {
        background-image: url(../img/pattern-10-2400.jpg);
    }

    h2 {
        font: 300 44px/1 'biorhyme';
        margin-bottom: 80px;
    }

    .important {
        color: orangered;
        margin-left: 5px;
    }
    .optional {
        color: #aaa;
        margin-left: 5px;
    }

    .wrap {
        width: 100%;
        margin-bottom: 80px;
        @include floatClear;
    }

    #terms {
        width: 100%; height: 180px;
        padding: 15px 20px;
        font: normal 13px/1.4 'arial';
        color: #333;
        border: 1px solid #ccc;
        margin-bottom: 15px;
    }

    label[for=agree], [for=agree2], [for=agree3] {
        font: 400 14px/1.8 'noto sans kr';
    }
    input[type=checkbox] {
        margin-right: 8px;
    }
    input[type=text], [type=password], [type=tel] {
        border-bottom: 1px solid #ccc;
        font: 500 14px/1 'noto sans kr';
        width: 100%;
        padding: 15px 10px;
        transition: border 0.5s;

        &::placeholder {
            color: #aaa;
            font-weight: 400;
        }

        &:focus {
            border-color: orangered;
        }
    }

    input#year { width: calc((100% - 38px) / 3); }
    input#email { 
        width: calc(100% - 50px - ((100% - 36px) / 3)); margin-right: 15px; 
    }
    input#phoneNum { width: calc(100% - 19px - ((100% - 36px) / 3)); }

    select {
        width: calc((100% - 36px) / 3); 
        height: 40px;
        padding: 0 10px;
        border: none;
        border: 1px solid #ccc;
        transition: border 0.5s;

        &:focus {
            border-color: orangered;
        }

        &#month, &#day, &#address { margin-left: 15px }
        &#telecom { margin-right: 15px; }
    }

    .btn {
        width: fit-content;
        float: right;

        input#submit, input#reset {
            font: 300 44px/1 'biorhyme';
            text-decoration: overline;
            overflow: visible;
            cursor: pointer;
            margin-left: 80px;

            &:hover {
                color: orangered;
            }
        }

    }
    
    table {
        float: right;
        width: 66.66%;
        margin-bottom: 80px;

        tr {
            height: 80px;
        }
        th {
            width: 33.33%;
            text-align: left;
            font: 500 14px/1 'noto sans kr';
        }
        td {
            text-align: left;
            font: 400 14px/1 'noto sans kr';
            position: relative;

            a {
                font: 400 14px/1 'noto sans kr';
                color: orangered;
                position: absolute;
                bottom: 35px; right: 0px;

                &:focus, &:hover {
                    text-decoration: overline;
                }
            }
        }
    }
}