@charset 'utf-8';

.members {

    .sub_visual {
        background-image: url(../img/pattern-10-2400.jpg);
    }

    h2 {
        font: 300 24px/1 'biorhyme';
        margin-bottom: 30px;
    }

    #terms {
        width: 100%; height: 180px;
        padding: 15px 20px;
        font: normal 13px/1.4 'arial';
        color: #333;
        border: 1px solid #777;
        margin-bottom: 15px;
    }

    label[for=agree] {
        font: 400 14px/1 'noto sans kr';
    }

    input[type=checkbox] {
        margin-right: 8px;
        margin-bottom: 100px;
    }
}